table{
    border-collapse: collapse;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
tr{}

td,th{
    border: 1px solid #aaa;
    padding: 7px;
}
/* 
even : pair
odd : impair
*/
tr:nth-of-type(even) {
    background-color: #ddd;
}
th {
    color: #12e624;
    font-weight: bold;
}

caption {
    font-size: 2rem;
    color: rgb(8, 40, 63);
    font-weight : bold;
    border : 1px solid #aaa;
    padding : 10px;
}
